<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="#">
		<title>Pokémon Generator</title>

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link href="/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="/css/cover.css" rel="stylesheet">
		<link href="/css/custom.css" rel="stylesheet">
	</head>

	<body>

		<div class="site-wrapper">
			<div class="site-wrapper-inner">
				<div class="cover-container">

					<div class="inner cover">
						<h1 class="cover-heading" >Random Pokémon Generator</h1>
						<a href="#" id="generate" class="btn btn-lg btn-info" data-toggle="tooltip" data-placement="top" title="click here">GENERATE</a>
					</div>


					<section class="results" href="#" id="results">
						<div class="card-columns" href="#" id="carddeck">
							<a class="btn btn-danger" href="#" id="getPokédex1" data-toggle="modal" data-target="#pokedexModal">Pokédex</a>
							<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button> -->
							<div class="card" href="#" id="card1">
						  </div>

							<a class="btn btn-danger" href="#" id="getPokédex4" data-toggle="modal" data-target="#pokedexModal">Pokédex</a>
							<div class="card" href="#" id="card4">
							</div>

							<a class="btn btn-danger" href="#" id="getPokédex2" data-toggle="modal" data-target="#pokedexModal">Pokédex</a>
							<div class="card" href="#" id="card2">
							</div>

							<a class="btn btn-danger" href="#" id="getPokédex5" data-toggle="modal" data-target="#pokedexModal">Pokédex</a>
							<div class="card" href="#" id="card5">
							</div>

							<a class="btn btn-danger" href="#" id="getPokédex3" data-toggle="modal" data-target="#pokedexModal">Pokédex</a>
							<div class="card" href="#" id="card3">
							</div>

							<a class="btn btn-danger" href="#" id="getPokédex6" data-toggle="modal" data-target="#pokedexModal">Pokédex</a>
							<div class="card" href="#" id="card6">
							</div>

						</div>

					</section>




					<footer class="footer">
		        <div class="inner">
		          <p>Rajbir Deol - 0918139 ©</p>
		        </div>
		      </footer>

				</div>
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="pokedexModal" tabindex="-1" role="dialog" aria-hidden="true">

		  <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
		  <div class="modal-dialog modal-dialog-centered" role="document">


		    <div class="modal-content">
		      <div class="modal-header" >
		        <h5 class="modal-title" href="#" id="title-name">Pokédex</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span class="x-mark" aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body"  href="#" id="pokedex-body" data-dismiss="modal">
						<div class="img-container">
				        <img class="rounded float-left" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/656.png">
				    </div>
						<div class="stats">
							<h5 class='pokemonID'>Pokemon Id</h5>
							<table class="table base">
								<tbody>
									<tr>
						        <td class="stat-name">HP</td>
						        <td>
											<div class="progress">
										    <div class="progress-bar bg-success progress-bar-striped" style="width:40%">40%
										    </div>
										  </div>
										</td>
						      </tr>
									<tr>
						        <td class="stat-name">Defense</td>
						        <td>
											<div class="progress">
										    <div class="progress-bar bg-warning"  style="width:50%">
										      50
										    </div>
										  </div>
										</td>
						      </tr>
									<tr>
										<td class="stat-name">Attack</td>
										<td>
											<div class="progress">
												<div class="progress-bar bg-danger" style="width:50%">
													50
												</div>
											</div>
										</td>
									</tr>
									<tr>
						        <td class="stat-name">Speed</td>
						        <td>
											<div class="progress">
										    <div class="progress-bar bg-primary"  style="width:50%">
										      50
										    </div>
										  </div>
										</td>
						      </tr>
									<tr>
						        <td class="stat-name">Sp Atk</td>
						        <td>
											<div class="progress">
										    <div class="progress-bar bg-secondary"  style="width:50%">
										      50
										    </div>
										  </div>
										</td>
						      </tr>
									<tr>
						        <td class="stat-name">Sp Def</td>
						        <td>
											<div class="progress">
										    <div class="progress-bar bg-info" style="width:50%">
										      50
										    </div>
										  </div>
										</td>
						      </tr>

						    </tbody>
						  </table>
						</div>
						<div class="float-container">
							<div class="float-child" style="width:220px">
								<p><strong>Height: </strong>1' 00"</p>
								<p><strong>Weight: </strong>15.4 lbs</p>
								<p><strong>Abilities: </strong>
									<span class="label label-default" style="background-color:#a1893e">rock</span>
								</p>
							</div>
							<div class="float-child">
								<p><strong>Type: </strong></p>
								<p><span class="label label-default" style="background-color:#1169c0">water</span></p>
							</div>
							<div class="float-child">
								<p><strong>Weakness: </strong></p>
								<p><span class="label label-default" style="background-color:#72c235">grass</span>      <span class="label label-default" style="background-color:#e79302">electric</span></p>
							</div>
						</div>
		      </div>
		    </div>
		  </div>
		</div>

		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/init.js"></script>
		<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>

</html>
