<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="#">
		<title>CIS*3210 Lab Login</title>

		<!-- Bootstrap core CSS -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="/css/cover.css" rel="stylesheet">
		<link href="/css/custom.css" rel="stylesheet">
	</head>

	<body>

		<div class="site-wrapper">
			<div class="site-wrapper-inner">
				<div class="cover-container">
					<div class="login-card">
						<form class="form-signin">
							<h1 class="h3 mb-3 font-weight-normal">please sign in</h1>
							<label for="inputUsername">Enter username
								<input type="text" class="form-control" id="username" placeholder="Username" value="">
							</label>
							<label for="inputPassword">Enter password
								<input type="password" class="form-control" id="password" placeholder="Password" value="">
							</label>

							<a href="#" id="login-button" class="btn btn-lg btn-success">LOGIN</a>
							<a href="#" id="post-button" class="btn btn-lg btn-info">CREATE USER</a>
							<label href="#" id="loginError"><strong></strong></label>
						</form>
					</div>




          <footer class="mastfoot mt-auto">
            <div class="inner">
		          <p>Rajbir Deol - 0918139</p>
		        </div>
		      </footer>
        </div>
			</div>
		</div>

    <script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/init.js"></script>
	</body>
</html>
